<app-ngif></app-ngif>

<hr />

<app-ngswitch></app-ngswitch>

<hr />

<app-ngfor></app-ngfor>

<hr />

<app-ngclass></app-ngclass>

<hr />

<app-ngstyle></app-ngstyle>

<hr />

<app-elvis-operator></app-elvis-operator>

<hr />

<app-ng-content>
  <span class="title">
    aqui vai o titulo
  </span>
  <div class="body">
    o conteudo que eu inserir dentro das tags, sera renderizado no lugar da diretiva ng-content no html. caso quisermos separar os renders, precisamos adicionar a prop select dentro do ng-content, referenciando a classe
  </div>
</app-ng-content>

<hr>

<app-custom-directives></app-custom-directives>
