<p appYellowBackground>texto com fundo amarelo</p>

<button appYellowBackground>botão com fundo amarelo</button>

<hr />

<p appHighlightMouse>texto com highlight com mouseOver</p>

<hr />

<p [appHighlight]="'blue'" [defaultColor]="'green'">
  texto com highlight com custom colors
</p>

<hr />

<h5>*ngElse</h5>

<div *ngIf="showCourses">lista de cursos</div>

<div *ngElse="showCourses">não existem cursos para serem listados</div>

<button (click)="handleToggleCourses()">Toggle courses</button>
